.card{
    padding: .75rem 1.25rem;
}
.card-header{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-body{
    padding: .75rem 1.25rem;
}
.card-footer{
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    padding: .75rem 1.25rem;
    background-color: #eedbe2;
    border-top: 1px solid rgba(0,0,0,.125);
}